body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
    font-family: 'Roboto Serif', serif;
}






/* ----------------- global-stuff ----------------- */
:root {
--background: #F5F3EF;
--card: #FFFFFF;
--accent: #FEBD2F;
--text-primary: #000000;
--text-secondary: #646464;
--outline: #DCDCDC;
}

h1 {
    font-size: 64px;
    font-weight: 500;
}
h2 {
    font-size: 35px;
    font-weight: 500;
}
h3 {
    font-size: 24px;
   
}

/* ----------------- website-stuff ----------------- */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px auto auto 80px;
}

.navmenu {
    background-color: var(--background);
    grid-column: 1 /5;
 
}

.navmenue-left {
    display: flex;
}
.navmenue-left-item1 {
    margin-right: 20px;
}
.navmenu-middle{
    margin-left: -40px;
}
.buttontype1 {
    background-color: #000000;
    color: white;
    border-radius: 30px;
    padding: 10px;
}
.buttontype1:hover {
    background-color: var(--text-secondary);
    cursor: pointer;
    padding: 12px;
  }

.headlinearealeft {
    background-color: var(--background);
    grid-column: 1/3;
    padding-top: 50px;
}

.itemtexttop {
    margin-bottom: 30px;
    width: 80%;
    min-width: 550px;

}

.itemtextbottom {
    font-weight: 70;
    font-size: 24px;
    width: 90%;
    min-width: 400px;
}

.headlinearearight {
    background-color: var(--background);
    grid-column: 3/-1; 
    display: flex;
    justify-content: right;
    padding-top: 50px;
}

.img1 img {  
    max-width: 90%;
    border-radius: 50px;
    }  

.section1{
    background-color: var(--background);
    grid-column: 1/-1;
    padding-top: 50px;
    padding-bottom: 100px;
}
.footer {
    background-color: yellow;
    grid-column: 1/-1;
    
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headlinearealeft {
    display: flex;
    flex-direction: column;
}

.section1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6  {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    width: 80%;
    justify-content: space-around;
    border-radius: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    max-width: 400px;
    min-width: 300px;
    height: 270px;
    margin: 25px;
    position: relative;
}
.grid-item-text-margin{
    line-height: 1.7;
}

.grid-item2-icon, .grid-item6-icon, .grid-item5-icon, .grid-item4-icon, .grid-item3-icon {
    position: absolute;
    top: -40px;
    right:40px;
}

p {
    font-weight: 100;
}
.grid-item1 {
    background-color: var(--accent);
    position: relative;
    justify-content: start;
    padding-top: 5%;
}

button {
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    border: none;
    font-size: 15px;
    } 

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
}

.navmenu, .section1, header{
    padding-left: 50px;
    padding-right: 50px;
}

.headlinearealeft {
padding-left: 50px;
}
.headlinearearight {
    padding-right: 50px;
}
.divbars {
    visibility: hidden;
}

/* ----------------- media query stuff ----------------- */


@media only screen and (max-width: 1125px) {
 
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 80px auto auto auto 80px;
    }

    /* how to change the grid so the headline img is on a sepearte line? i added an auto value for the row, but i dont know how to create an additional line?  */


    .headlinearealeft {
        background-color: var(--background);
        grid-column: 1/-1;
        padding-top: 50px;
        text-align: center;
    }
    
    .headlinearearight {
        background-color: var(--background);
        grid-column: 1/-1; 
        display: flex;
        justify-content: center;
       
        padding-top: 50px;
    }


    .section1 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
    }
}
@media only screen and (max-width: 700px) {
 
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 80px auto auto auto 80px;
    }

    /* how to change the grid so the headline img is on a sepearte line? i added an auto value for the row, but i dont know how to create an additional line?  */


    .headlinearealeft {
        background-color: var(--background);
        grid-column: 1/-1;
        padding-top: 50px;
    }
    
    .headlinearearight {
        background-color: var(--background);
        grid-column: 1/-1; 
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    
    }


    .section1 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    
    }
    .navmenue-left {
        display: flex;
        visibility: hidden;
    }
    .buttontype1 {
        background-color: #000000;
        color: white;
        border-radius: 30px;
        padding: 10px;
        visibility: hidden;
    }
    .divbars {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        align-items: center;
        visibility: visible;
      }
      .navmenu, .section1, header{
        padding-left: 10px;
        padding-right: 10px;
    }
    .headlinearealeft {
        text-align: center;
        }
    
        h1 {
            font-size: 50px;
            font-weight: 500;
            max-width: 500px;
        }
        .img1 img {  
            max-width: 90%;
            border-radius: 50px;
            }  
}
